.rounded{
width: 65%;
height: auto;
}
.imgDiv{
  position: relative;
  background-color:#a09ea0;
  width:30%
  height:300px;
  padding:5px;
}
.star{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}
.capDiv{
  background-color:#507b6f;
  padding: 0px;
  margin:0px;
}
